
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F1EFED;
    color: #185E43;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 50px 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

img {
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #F1EFED;
    background-color: #185E43;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: bold;
}

a:hover {
    background-color: #134634;
    transform: translateY(-2px);
}
